name: Deploy to GitHub Pages

# Run workflow on every push to the main branch
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy-to-github-pages:
    runs-on: ubuntu-latest
    steps:
    # Checkout the code
    - uses: actions/checkout@v4

    # Install .NET SDK
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    # Publish the app
    - name: Publish .NET App
      run: dotnet publish TimeStoneReport.csproj -c Release -o release --nologo

    # Change base href in index.html from '/' to your GitHub repository name
    - name: Change base-tag in index.html
      run: sed -i 's/<base href="\/" \/>/<base href="\/TimeStoneReport\/" \/>/g' release/wwwroot/index.html

    # Add .nojekyll file to tell GitHub pages to not treat this as a Jekyll project
    - name: Add .nojekyll file
      run: touch release/wwwroot/.nojekyll

    # Commit and push to gh-pages branch
    - name: Commit wwwroot to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: release/wwwroot
        branch: gh-pages
